<div class="block card">
  <div class="card-content">
    <div class="block has-text-centered">
      <label class="label"><i class="fas fa-wallet"></i>&nbsp;Recieving Address QR</label>
      <img id="qr-image" src="/qr/{{address}}" />
    </div>
    <div class="block">
      <div class="field">
	<label class="label"><i class="fas fa-wallet"></i>&nbsp;IOTA Recieving Address</label>
	<button id="address" class="button is-fullwidth left clip" onclick="copy(this)" value="{{address}}"><i class="far fa-copy"></i>&nbsp;{{address}}</input>
	  
      </div>
      <a title="IOTA Wallet Donate" target="_blank" href="iota://wallet/send/{{address}}/?amount=1000000&unit=i">
	<button class="button is-link is-light bold">
	  <img class="icn" src="/static/img/firefly_icon.png"/>&nbsp;Send IOTA
	</button>
      </a>
      <a target="_blank" href="https://explorer.iota.org/mainnet/search/{{address}}">
	<button class="button is-link is-light"><i class="fab fa-wpexplorer"></i> &nbsp;View on Explorer</button>
      </a>
    </div>
    <div class="block">
      {% include 'iota/iota_faq.html' %}
    </div>
  </div>
  {% include 'iota/iota_links.html' %}
</div>
