<footer class="card-footer bottom-foot">
  <a title="IOTA Firefly Wallet" target="_blank" href="https://firefly.iota.org" class="card-footer-item bold">
    <img class="icn" src="/static/img/firefly_icon.png"/>&nbsp;&nbsp;
    <span class="has-text-centered"><span class="firefly">Firefly</span>&nbsp;Wallet</span>
  </a>
  <a title="Learn IOTA" target="_blank" href="https://www.iota.org/get-started/what-is-iota" class="card-footer-item bold">
    <img class="icn" src="/static/img/iota_icon.png"/>&nbsp;&nbsp;
    <span class="has-text-centered">What is IOTA?</span>
  </a>
  <a title="IOTA Wiki" target="_blank" href="https://wiki.iota.org/learn/about-iota/an-introduction-to-iota" class="card-footer-item bold">
    <img class="icn" src="/static/img/iota_icon.png"/>&nbsp;&nbsp;
    <span class="has-text-centered">IOTA Introduction</span>
  </a>
</footer>
