ExifRead==3.0.0
Flask==2.2.2
Flask==2.3.2
Flask_Bcrypt==1.0.1
Flask_Limiter==3.3.1
Flask_Login==0.6.2
Flask_PyMongo==2.3.0
Flask_WTF==1.1.1
iota_client==1.0.0rc2
numpy==1.24.3
Pillow==9.4.0
Pillow==9.5.0
Pillow==9.5.0
pillow_heif==0.11.1
pymongo==4.3.3
qrcode==7.4.2
Requests==2.30.0
segno==1.5.2
Werkzeug==2.2.3
Werkzeug==2.3.4
WTForms==3.0.1
