<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}
  <link rel="stylesheet" href="/static/css/account.css">
  <script src="/static/js/bulma-toast.js"></script>
  <script src="/static/js/copy.js"></script>
  <script src="/static/js/account.js"></script>
  <title>{{name}}</title>
</head>

<body>
  <div id="account-container" class="container">
    {% if user.account.redirect %}
    <div class="notification is-warning">
      Visitors to this page are redirected to <strong>{{ user.account.redirect }}</strong>.
      <a href="/{{key}}/admin">Manage or remove this redirect</a>
    </div>
    {% endif %}
    {% if name != '' or blurb != '' %}
    <div class="block box">
      {% if name != '' %}
      <div class="title">{{name}}</div>
      {% endif %}
      {% if blurb != '' %}
      <div class="subtitle">{{blurb}}</div>
      {% endif %}
    </div>
    {% endif %}
    
    {% include 'account/account_image.html' %}
    {% include 'account/account_notify.html' %}
    {% include 'account/account_texts.html' %}
    {% include 'account/account_links.html' %}
    {% include 'account/account_badges.html' %}

    <div class="block"></div>
    {% include 'account/footer.html' %}
  </div>
</body>

</html>
