
#badges{
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container{
    display: flex;
    justify-content: center;
}
.card-image{
    text-align: center;
    transition: all .2s ease-in-out;
}
.card-image{
    max-width: 80vmin;
}