<footer class="footer">
  <div class="content has-text-centered">
    {% if failed %}
    <div class="notification">You do not have permission to customize this page. You must logout first!</div>
    {% endif %}
    <div class="columns is-centered">
      <a class="column is-narrow" href="/">
        <button class="button">
          <i class="fas fa-graduation-cap"></i>&nbsp;Learn More
        </button>
      </a>
      {% if not logged_in or (logged_in and key == current_user.key) %}
      <a class="column is-narrow" href="/{{key}}/admin">
        <button class="button">
          <i class="fas fa-cog"></i>&nbsp;Customize
        </button>
      </a>
      {% endif %}
      {% if logged_in and key == user.key and not minted and user.account.badge_enabled %}
      <a class="column is-narrow" href="/{{key}}/mint">
        <button class="button">
          <span class="material-icons">flare</span>
          &nbsp;
          Mint Badge
        </button>
      </a>
      {% endif %}
      {% if logged_in and user.key != current_user.key %}
      <a class="column is-narrow" href="/{{current_user.key}}">
        <button class="button">
          <span class="material-icons">home</span>&nbsp;My Home
        </button>
      </a>
      <a class="column is-narrow" href="/{{key}}/connect">
        <button class="button">
          <i class="fas fa-plug"></i>&nbsp;Connect
        </button>
      </a>
      {% endif %}
      {% if logged_in %}
      <a class="column is-narrow" href="/{{key}}/logout">
        <button class="button">
          Logout
        </button>
      </a>
      {% endif %}
    </div>

  </div>
  <div class="content has-text-centered">
    <div class="columns is-centered">
      <div class="has-text-centered">
	<span>Share</span><br />
	<img src="/qr?q=https://yque.net/{{key}}" width="100px" height="100px" />
	</div>
    </div>
  </div>
</footer>
