<div class="columns is-multiline">
  <div class="column is-half">
    <article class="message">
      <div class="message-header">
	<p>What is Deep Links Meta Pages?</p>
      </div>
      <div class="message-body">
	<ul>
	  <li>Connects physical clothes to a digital webpage.</li>
	  <li>Owner of the clothes, OWNS the webpage</li>
	</ul>
      </div>
    </article>
  </div>
  <div class="column center">
    <img class="card" id="example-image" src="/static/img/dlmp_example.jpg" />
  </div>
  <div class="column is-full">
    <article class="message">
      <div class="message-header">
	<p>Why would I use Deep Links Meta Pages?</p>
      </div>
      <div class="message-body">
	<p>DLMP extends the purpose of clothing by imbuing them with a digital clone that lives beyond physical restraints; a unique digital life to an otherwise inanimate piece of cloth.</p>
      </div>
    </article>
  </div>
  <div class="column is-full">
    <article class="message">
      <div class="message-header">
	<p>How do I obtain a Digital Clone?</p>
      </div>
      <div class="message-body">
	<p>On all DLMP products, you fill find a QR code that leads you to a webpage OWNED by the wearer of the apparel. This QR code is unique for each piece of apparel and links to the digital clone.</p>
      </div>
    </article>
  </div>
  <div class="column is-full">
    <article class="message">
      <div class="message-header">
	<p>How do I edit the webpage?</p>
      </div>
      <div class="message-body">
	<p>Hidden on the DLMP apparel, you will find a key. This key is entered on the digital clones web-page to authorize your ownership and will allow you to customize the content on the page.</p>
      </div>
    </article>
  </div>
  <div class="column is-full">
    <article class="message">
      <div class="message-header">
	<p>What are badges?</p>
      </div>
      <div class="message-body">
	<p>Badges are non-fundgible tokens minted on the IOTA developmental network. Each badge is unique to the specific digital clone.</p>
	<p>Each unique badge has a specific variation of the following attributes:
	  <ul>
	    <li>Color: The badge color theme.</li>
	    <li>Convex Polygon: The embeded polygon.</li>
	    <li>Ribbon: The number of ribbons</li>
	    <li>Ribbon Shape: Ribbons are long, wide, and have a cut depth.</li>
	    <li>Lace: The number of teeth in the lace around the polygon and its depth.</li>
	  </ul>
	  <div class="columns is-centered center">
	    <div class="column is-narrow">
	      <img class="badge" onclick="refresh(this)" src="/badge/random/1" />
	    </div>
	    <div class="column is-narrow">
	      <img class="badge" onclick="refresh(this)" src="/badge/random/2" />
	    </div>
	    <div class="column is-narrow">
	      <img class="badge" onclick="refresh(this)" src="/badge/random/3" />
	    </div>
	    <div class="column is-narrow">
	      <img class="badge" onclick="refresh(this)" src="/badge/random/4" />
	    </div>
	  </div>
      </div>
    </article>
  </div>
  <div class="column is-full">
    <article class="message">
      <div class="message-header">
	<p>How do I connect DLMP products?</p>
      </div>
      <div class="message-body">
	<p>Two DLMP endpoints can connect to share badges. To connect you must be logged in when you view another Deep Link Meta Page. At the bottom of the page will be a connect button with the following icon: <i class="fas fa-plug"></i></p>
      </div>
    </article>
  </div>
  <br><br>
</div>
