<!DOCTYPE html>
<html>

<head>
	{% include 'header.html' %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/copy.js"></script>
	<title>Yque</title>
</head>

<body>
	<div class="container">
		<div class="box">
			<div class="title">Deep Links Micro Pages by YQue.net</div>
			<div class="subtitle">Please enter an web account key to proceed to a product page or see the example.</div>
		</div>
		<div class="content">
			{% if error %}
			<div class="notification is-danger">{{error}}</div>
			{% endif %}
			<div class="columns is-multiline">
				<div class="column">
					<div class="box">
						<form id="nav-panel" action='/' method="GET" class="form">
							<div class="field">
								<label class="label">Navigation Panel</label>
								<p>Enter the web account ID to view a specific account. To edit the account you need
									your passcode.</p>
								<p>The web account ID is a unique string of numbers and letters in your URL.</p>
								<input class="input" type="text" name="key" placeholder="Web Account key">
							</div>
							<div class="control">
								<button type="submit" class="button is-success" name="view">View</button>
								<button type="submit" class="button is-success" name="edit">Edit</button>
							</div>
						</form>
					</div>
				</div>
				{% if key %}
				<div class="column is-half">
					<div class="box">
						<div class="field">
							<label class="label">You are Logged in!</label>
							<p>Here is a link to your micro page:</p>
						</div>
						<div class="control">
							<a href="/{{key}}" class="button is-link is-light">View</a>
							<a href="/{{key}}/admin" class="button is-link is-light">Edit</a>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="column is-half">
					<div class="box">
						<form action='/58c56465b91' method="GET" class="form">
							<div class="field">
								<label class="label">Click here for more information</label>
								<p>The following page provides more infomration about DLMP</p>
							</div>
							<div class="control">
								<button class="button is-link is-light">Example Page</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<section class="section is-medium">
				<h1 class="title">About Us</h1>
				<p class="subtitle">Frequency asked questions about Deep Link Micro Pages.</p>
			</section>
			{% include 'about_content.html' %}
		</div>
	</div>
</body>

</html>